body, html {
    height: 100%;
    margin: auto;
    padding: 0;
    width: 80%;
}

/* ----------------- header -------------- */
header nav h1 {
    float: left;
    text-align: left;
    width: 40%;
}
header nav ul {
    float: right;
    list-style: none;
    text-align: right;
    width: 50%;
}
header nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 0;
}
header nav ul li:not(:last-child):after { 
  content: ' | ';
  color: magenta;
}    
header nav a {
    color: black;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}

/* ----------------- main -------------- */
main {
    border: 1px solid black;
    clear: both;

    height: 50%;
    min-height: 250px;
}
.vc1 { /* vertical centering, the best one */
/* works in recent opera/chrome/ff without prefixes */
    display: flex;
    align-items: center;
    justify-content: center;
}
.vc1 ul {
    list-style: none;
}

/* ----------------- footer -------------- */
footer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row;
    min-height: 200px;
}
footer > article {
    border: 1px solid white;
    flex: 1;
    min-height: 175px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
}